# Dependencias
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Archivos de distribución
dist/
build/

# Variables de entorno
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Construcción
.cache/
.parcel-cache
.next/
out/

# Misc
*.pem
